@import url("./variables.css");

main {
  padding: var(--sections-padding);
}

.cuestionario {
  display: block;
  font-weight: 700;
  padding: 10px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario_label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario_grupo-input {
  position: relative;
}

.formulario_input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario_input:focus {
  border: 3px solid black;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_input-error {
  font-size: 12px;
  margin-bottom: 10px;
  display: none;
}

.formulario_input-error-activo {
  display: block;
}

.formulario_mensaje,
.formulario_grupo-btn-enviar {
  grid-column: span 2;
}

.formulario_mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.formulario_mensaje-activo {
  display: block;
}

.formulario_mensaje p {
  margin: 0;
}

.formulario_grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.formulario_btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario_btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario_mensaje-exito {
  height: 45px;
  line-height: 45px;
  background: #119200;
  color: #fff;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.formulario_mensaje-exito-activo {
  display: block;
}

.formulario_grupo-btn-enviar,
.formulario_grupo-enviar-imagen {
  grid-column: span 2;
}

.formulario_label-imagen,
.formulario_grupo-imagen {
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  padding: 5px;
}

.formulario_grupo-incorrecto .formulario_label {
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_input {
  border: 3px solid #bb2929;
}


@media screen and (max-width: 768px) {
  .formulario {
    display: flex;
    flex-direction: column;
  }

  .formulario_label-imagen, .formulario_grupo-imagen {
    justify-content: start;
  }

  .formulario_grupo-btn-enviar {
    align-items: start;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: var(--sections-padding-mobile);
  }
}