@import url("./variables.css");

h1.titulo{
    text-align: center;
    margin:20px auto 0px;
    font-size: 20px;
}

img.imgDetalle{
    max-width: 300px;
    border-radius: 20px;
    margin:20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
section.ingredientes{
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-top: 100px;
    margin-left: 40px;
}

section.ingredientes *{
    display: block;
}
.ingredientes h2{
    font-size: 20px;
    margin-bottom: 20px;

}

.ingredientes p{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
}

section.instrucciones{
    display: block;
    vertical-align: top;
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
}

.instrucciones h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.instrucciones p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

#volver{
    display: block;
    margin: 0 200px 40px auto;
    background-color: var(--header-bg-color);
    border-color: var(--header-bg-color);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}