@import url('./variables.css');
@import url('./reset.css');

html {
  /* font-size: 62.5%; */
  font-family: "Amaranth", 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  color: #fff;
  min-height: 100vh;
}

main{
  min-height:90vh;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 7vh;
  min-height: 40px;
  animation: logoAnimacion 1.5s ease-in-out;
}

#header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sections-padding);
  color: var(--header-text-color);
  background-color: var(--header-bg-color);
  height: 8vh;
  min-height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

.link:hover {
  color: var(--secondary-color);
}

#footer {
  display: flex;
  padding: 7px;
  /*var(--sections-padding);*/
  background-color: var(--footer-bg-color);
  height: 10vh;
  min-height: 60px;
  justify-content: space-evenly;
  align-items: center;

}

.cac {
  max-width: 100px;
  /*le di un valor para zafar que entre por ahora*/
}

#footer p {
  text-align: center;
}

@keyframes logoAnimacion {
  from {
    rotate: 0deg;
  }

  33% {
    rotate: 30deg;
  }

  66% {
    rotate: -30deg;
  }

  to {
    rotate: 0deg;
  }
}

@media (max-width: 769px) {
  #header p {
    display: none;
  }

  .navbar {
    width: 70%;
  }
}

@media (max-width: 426px) {
  #footer {
    flex-direction: column;
    height: auto;
  }

  .cac {
    max-width: 150px;
    margin: 15px;
  }
}